doctype html
html(lang=language)
  head
    title "Reason Life"
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    meta( charset="utf-8" )

    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )
    link( rel="stylesheet"  href="/static/css/layout.css" )
  body
    div( class="root" )
      #{markup}
    script( src="/static/js/bundle.js" )
